<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UGM</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertUser</display-name>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>servlet.InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertGroup</display-name>
    <servlet-name>InsertGroup</servlet-name>
    <servlet-class>servlet.InsertGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertGroup</servlet-name>
    <url-pattern>/InsertGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayGroups</display-name>
    <servlet-name>DisplayGroups</servlet-name>
    <servlet-class>servlet.DisplayGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayGroups</servlet-name>
    <url-pattern>/DisplayGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayGroupsFromJson</display-name>
    <servlet-name>DisplayGroupsFromJson</servlet-name>
    <servlet-class>servletJSON_DB.DisplayGroupsFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayGroupsFromJson</servlet-name>
    <url-pattern>/DisplayGroupsFromJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayGroupsFinal</display-name>
    <servlet-name>DisplayGroupsFinal</servlet-name>
    <servlet-class>servlet.DisplayGroupsFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayGroupsFinal</servlet-name>
    <url-pattern>/DisplayGroupsFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserFromJson</display-name>
    <servlet-name>InsertUserFromJson</servlet-name>
    <servlet-class>servletJSON_DB.InsertUserFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserFromJson</servlet-name>
    <url-pattern>/InsertUserFromJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertGroupFromJson</display-name>
    <servlet-name>InsertGroupFromJson</servlet-name>
    <servlet-class>servletJSON_DB.InsertGroupFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertGroupFromJson</servlet-name>
    <url-pattern>/InsertGroupFromJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFromJson</display-name>
    <servlet-name>LoginFromJson</servlet-name>
    <servlet-class>servletJSON_DB.LoginFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFromJson</servlet-name>
    <url-pattern>/LoginFromJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserFinal</display-name>
    <servlet-name>InsertUserFinal</servlet-name>
    <servlet-class>servlet.InsertUserFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserFinal</servlet-name>
    <url-pattern>/InsertUserFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFinal</display-name>
    <servlet-name>LoginFinal</servlet-name>
    <servlet-class>servlet.LoginFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFinal</servlet-name>
    <url-pattern>/LoginFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertGroupFinal</display-name>
    <servlet-name>InsertGroupFinal</servlet-name>
    <servlet-class>servlet.InsertGroupFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertGroupFinal</servlet-name>
    <url-pattern>/InsertGroupFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUsers</display-name>
    <servlet-name>DisplayUsers</servlet-name>
    <servlet-class>servlet.DisplayUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUsers</servlet-name>
    <url-pattern>/DisplayUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUsersFromJson</display-name>
    <servlet-name>DisplayUsersFromJson</servlet-name>
    <servlet-class>servletJSON_DB.DisplayUsersFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUsersFromJson</servlet-name>
    <url-pattern>/DisplayUsersFromJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUsersFinal</display-name>
    <servlet-name>DisplayUsersFinal</servlet-name>
    <servlet-class>servlet.DisplayUsersFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUsersFinal</servlet-name>
    <url-pattern>/DisplayUsersFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUser</display-name>
    <servlet-name>ModifyUser</servlet-name>
    <servlet-class>servlet.ModifyUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUser</servlet-name>
    <url-pattern>/ModifyUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserFromJson</display-name>
    <servlet-name>ModifyUserFromJson</servlet-name>
    <servlet-class>servletJSON_DB.ModifyUserFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserFromJson</servlet-name>
    <url-pattern>/ModifyUserFromJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserFinal</display-name>
    <servlet-name>ModifyUserFinal</servlet-name>
    <servlet-class>servlet.ModifyUserFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserFinal</servlet-name>
    <url-pattern>/ModifyUserFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUser</display-name>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>servlet.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/SearchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserFromJson</display-name>
    <servlet-name>SearchUserFromJson</servlet-name>
    <servlet-class>servletJSON_DB.SearchUserFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserFromJson</servlet-name>
    <url-pattern>/SearchUserFromJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserFinal</display-name>
    <servlet-name>SearchUserFinal</servlet-name>
    <servlet-class>servlet.SearchUserFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserFinal</servlet-name>
    <url-pattern>/SearchUserFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGroup</display-name>
    <servlet-name>SearchGroup</servlet-name>
    <servlet-class>servlet.SearchGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGroup</servlet-name>
    <url-pattern>/SearchGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGroupFinal</display-name>
    <servlet-name>SearchGroupFinal</servlet-name>
    <servlet-class>servlet.SearchGroupFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGroupFinal</servlet-name>
    <url-pattern>/SearchGroupFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGroupFromJson</display-name>
    <servlet-name>SearchGroupFromJson</servlet-name>
    <servlet-class>servletJSON_DB.SearchGroupFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGroupFromJson</servlet-name>
    <url-pattern>/SearchGroupFromJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DeleteUserFinal</display-name>
    <servlet-name>DeleteUserFinal</servlet-name>
    <servlet-class>servlet.DeleteUserFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserFinal</servlet-name>
    <url-pattern>/DeleteUserFinal</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>DeleteUserFromJson</display-name>
    <servlet-name>DeleteUserFromJson</servlet-name>
    <servlet-class>servletJSON_DB.DeleteUserFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserFromJson</servlet-name>
    <url-pattern>/DeleteUserFromJson</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>DeleteGroup</display-name>
    <servlet-name>DeleteGroup</servlet-name>
    <servlet-class>servlet.DeleteGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroup</servlet-name>
    <url-pattern>/DeleteGroup</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>DeleteGroupFinal</display-name>
    <servlet-name>DeleteGroupFinal</servlet-name>
    <servlet-class>servlet.DeleteGroupFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroupFinal</servlet-name>
    <url-pattern>/DeleteGroupFinal</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DeleteGroupFromJson</display-name>
    <servlet-name>DeleteGroupFromJson</servlet-name>
    <servlet-class>servletJSON_DB.DeleteGroupFromJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroupFromJson</servlet-name>
    <url-pattern>/DeleteGroupFromJson</url-pattern>
  </servlet-mapping>
</web-app>